<section id="searchModal" class='modal-window'>
	<div class="modal-window__body">
		<div class="modal-window__content">
			<form class='searchbar' action='#'>
				<fieldset class='searchbar__body searchbar__body_vertical'>
					<input class='searchbar__input bordered-item' type='text' name='searchinput' placeholder='Search query...' required>
					<button class="searchbar__submit" type='submit'>Search</button>
					<a href="searchResults.html">Results page</a>
				</fieldset>
			</form>
			<button class="modal-window__closer modal-window__closer_non-active" type='button' data-modal-close></button>
		</div>
	</div>
</section>