<section class="product">
	<div class="product__body @@addClasses">
		<div class="product__preview _contain-img _block-shadow">
			<img src="img/content/@@imgName.png" loading='lazy' alt='@@title' width=539 height=512>
		</div>
		
		<div class="product__content _futura-font _block-shadow">
			<h2 class="product__name">@@title</h2>

			<button type="button" class="product__delete-from-card">
				<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="130" height="131" fill="#C4C4C4" />
					<path d="M37 94L93 37M37 37L93 93.5632" stroke="black" stroke-width="10" />
				</svg>
			</button>
			<button type="button" class="product__add-to-card">
				<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect class="product__add-to-card-bg-rect" width="130" height="131" fill="#A3DDE6" />
					<rect x="35" y="49.9126" width="59.2216" height="43.0709" stroke="black" stroke-width="8" />
					<path d="M80.3248 55.9522V35H48.8965V55.9522" stroke="black" stroke-width="8" />
				</svg>
			</button>
		</div>
	</div>
</section>